<button matFab extended>
    <mat-icon>home</mat-icon>
    Home


    <mat-toolbar color="primary">
        <button mat-icon-button routerLink="/">
          <mat-icon>home</mat-icon>
        </button>
        <span>Mon Application</span>
        <span class="spacer"></span>
      
        <button mat-button routerLink="/projets" routerLinkActive="active">Projets</button>
        <button mat-button routerLink="/apropos" routerLinkActive="active">À propos</button>
        <button mat-button routerLink="/calculator" routerLinkActive="active">Calculatrice</button>
        <button mat-button routerLink="/inscription" routerLinkActive="active">Inscription</button>
        <button mat-button routerLink="/userinfo" routerLinkActive="active">Profil</button>
      </mat-toolbar>
      
      <router-outlet></router-outlet> 
  